<style>
  .footer {
     position: fixed;
     left: 0;
     bottom: 0;
     width: 100%;
     background-color: rgb(73, 38, 71);
     text-align:end;
     color: darkgrey;
  }
</style>
<div class="footer">
    <p>
        <marquee direction="right" behavior="scroll" scrollamount="10" onmouseover="this.stop()" onmouseout="this.start()" style="font-family:hand drawn" >
          HOROSCOPE | PROJECT AKHIR MI 2C | HOROSCOPE  | PROJECT AKHIR MI 2C | HOROSCOPE  | PROJECT AKHIR MI 2C | HOROSCOPE  | PROJECT AKHIR MI 2C | HOROSCOPE  | PROJECT AKHIR MI 2C | HOROSCOPE</marquee>
        </p>

</div>

